.header__logo {
    width: 142px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        margin-left: 9%;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 105px;
    }
}